/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header a {
    display: none;
}

#sidebar.active .sidebar-header strong a {
    display: block;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active h4.active{
    display:none;
}

@media(max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }


        /* Toggling the sidebar header content,
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
        #sidebar .sidebar-header strong {
            display: none;
        }

        #sidebar.active .sidebar-header a {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }
}
