@page "/dasboard";
@using SPA1.Shared.Models;
@inject HttpClient Http

<h3 class="text-center">Movies</h3>

<div class="d-flex page">
    <SPA1.Client.Pages.Components.SideBar />

    <div class="flex-grow-1 hidden-scroll">
        <div class="d-flex justify-content-center ">
            <div class="skeleton-block-large"></div>
        </div>

        <div class="d-flex justify-content-around flex-wrap">
            @if (movies == null)
            {
                @for (int i = 0; i < 5; i++)
                {
                    <div class="skeleton-card" />
                }
            }
            else
                @foreach (var movie in movies)
                {
                    <div class="skeleton-card">
                        <div class="card bg-dark text-white">
                            <img class="card-img" src="@movie?.CoverImage" alt="Card image">
                            <div class="card-img-overlay extra-info-hover">
                                <h5 class="card-title">@movie.Title</h5>
                                <p class="card-text">@movie?.Duration</p>
                                <p class="card-text">@movie.Description</p>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>

@code {
    public Movie[] movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        movies = await Http.GetFromJsonAsync<Movie[]>($"Movie/Filter?Shown={10}");
    }
}
