@page "/"

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @*        //Images/Front-page-static.jpg
        *@
        <CarouselItem imgSrc="https://cdn.shopify.com/s/files/1/0151/0741/products/350c6918f692dc62adb77b9eace46f4f_1024x1024.jpg?v=1578649829"
                      title="Welcome to my portefolio"
                      description="This website is developed with Blazor Webassembly(C#,JS,SASS,HTML) and data is managed with a relational database (SQL Server)"
                      active="active"/>
        <CarouselItem imgSrc="https://miro.medium.com/max/3960/0*HICLyAdNSIyT0ODU.jpg"
                      title="About me & my skills"
                      description="My name is Roy Ginsel, I am a web developer in languages (C#,JS,PHP,Java) and some of their respective frameworks,
                      I am experienced with working in a team of delevopers working together on multiple projects according to project methods like SCRUM, 
                      with source code control tooling like GIT, Docker, Jenkins"
                      active=""/>
        <CarouselItem imgSrc="https://www.happydesigner.co.uk/wp-content/uploads/2014/01/desk.jpg"
                      title="Hobbies and fun things"
                      description="Besides my career I have lots of hobbies which I like to such as drawing"
                      active=""/>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container marketing pt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>My skills</h2>
            <p>
                I specialize as a HBO web developer, which means I am a fullstack developer.
                Part of my skills has been developing this website (Fullstack),
                but I am also familiar with other frameworks and languages like React/redux, Angular, Laravel, JavaEE, Express...
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Hobbies</h2>
            <p>
                Besides my career as a developer I have lots of hobbies which I like to do.
                I am a big fan of music, drawing, skating, and overall playing sports.
                Some of these things I will share here just for fun
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Contact</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>

