@page "/skeleton"
<h3>Skeleton</h3>

<div class="d-flex">
    <div class="w-auto">
        <div class="flex-column justify-content-between">
            <div class="skeleton-card"></div>
            <div class="skeleton-block-small"></div>
        </div>
    </div>

    <div class="flex-grow-1 flex-shrink-0">
        <div class="d-flex justify-content-center ">
            <div class="skeleton-block-large"></div>
        </div>

        <div class="d-flex justify-content-around">
            <div class="skeleton-card"></div>
            <div class="skeleton-block-small"></div>
        </div>
    </div>
</div>

@code {
}
