@inherits LayoutComponentBase

<div class="sidebar d-flex flex-column">
    <NavMenu />
        <button type="button" class="btn-primary" style="bottom: 0;" data-toggle="modal" data-target="#exampleModal">
            Preferences <span class="material-icons font-weight-bold">settings</span>
        </button>
</div>
<SPA1.Client.Pages.Components.PreferencesTab />

<div class="main">
    <HeaderLayout />

    <div class="content px-4">
        @Body
    </div>

</div>

@code{
}
