
    <div class="sidebar-header top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Roy Ginsel</a>
        <strong><a class="navbar-brand" href="">RG</a> </strong>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" style="padding-right: 20px;" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="oi fas fa-home"></i>
                    <h4 class="@sidebarClass mb-0">Home</h4>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="oi fas fa-id-card" aria-hidden="true"></span>
                    <h4 class="@sidebarClass mb-0">About me</h4>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Skills">
                    <i class="oi fas fa-laptop"></i>
                    <h4 class="@sidebarClass mb-0">Skills</h4>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi fas fa-music" aria-hidden="true"></span>
                    <h4 class="@sidebarClass mb-0">Music</h4>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="skeleton">
                    <span class="oi fas fa-palette" aria-hidden="true"></span>
                    <h4 class="@sidebarClass mb-0">Art</h4>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Movies">
                    <i class="oi fas fa-video"></i>
                    <h4 class="@sidebarClass mb-0">Movies</h4>
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="Movies">
                    <i class="oi fas fa-chart-line"></i>
                    <h4 class="@sidebarClass mb-0">Statistics</h4>
                </NavLink>
            </li>
        </ul>
    </div>

@code {
    [Parameter]
    public string sidebarClass { get; set; }

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}